<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>AJAX Post</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- Personal css file -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<!-- Latest jQuery for Bootstrap use--> 
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!-- Personal js file  -->
	 <script type="text/javascript" src="{{ url_for('static', filename='js/jquery_functions.js') }}"></script>
</head>
<body>
	<!-- Trying to make these pages responsive using bootstrap from now on.  -->
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1>My Posts</h1>
				<!-- Flash error messages -->
				{% with messages = get_flashed_messages(with_categories=true) %}
				    {% if messages %}
				    	<ul class="flashes">
					      	{% for category, message in messages %}
					        	{% if category == 'error' %}
					     			<p class="red">{{ message }}</p>
					     		{% elif category == 'success' %}
					     			<p class="green">{{ message }}</p>
					     		{% endif %}
					      	{% endfor %}
				      	</ul>
				    {% endif %}
				{% endwith %}
			</div>
		</div>
		<!--  For each note in notes in notesdb, show them -->
		<div id="notes">
			{% for quote in quotes %}
				<div class="notes">
					<p>{{ note['note'] }}</p>
				</div>
			{% endfor %}
		</div>
		<div class="row" id="form_holder">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3>Add a note:</h3>
				<form action="/posts/create" method="post">
					<textarea name="get_note"></textarea><br>
					<button class="btn btn-inverted" type="submit">Post It!</button>
				</form>
			</div>
		</div>
		<footer class="footer navbar-fixed-bottom">
			<p class="text-center">For educational purposes only</p>
		</footer>
	</div>
</body>
</html>